
# python
dill
funcsigs  # until Py3
futures  # until Py3
lazy
qualname  # until py3
six
toolz

# pydata
bottleneck
bs4
cartopy
cython
fuzzywuzzy[speedup]
iso3166 # country mappings
keras
networkx
numba
numexpr
numpy
pandas-datareader
pandas-gbq
pandas==0.24.2
python-dateutil
pytz
scipy
sklearn
statsmodels
tensorflow
xarray==0.11.3
xlrd
xlwt

# data
crcmod
dogpile.cache
lru-dict
lxml
pyarrow
pyodbc==3.1.1 # because of unicode issues
pysftp
pyslack-real
quandl
redis
requests
slackclient
SQLAlchemy

# infrastructure
# apache_beam[gcp] # currently installs old version of google-bigquery
boto
celery
cookiecutter
docker-compose
flower
google-api-python-client
google-cloud-bigquery
google-cloud-storage
kubernetes
psutil
setuptools
setuptools_scm
wheel

# dev tools
# datalab https://github.com/googledatalab/datalab/issues/1641
asv
autopep8
docformatter
flake8
flake8-isort
git-up
ipdb
ipython
isort
jedi
jupyter
jupyter_kernel_gateway
line_profiler
memory_profiler
mock # until Py3
mockredispy
notebook
pdbpp
profilehooks
pycallgraph
pycodestyle
pydocstyle
pyinstrument
pytest
pytest-pycharm
pytest-regtest
pytest-sugar
pytest-testmon
pytest-watch
pytest-xdist
python-language-server
snakeviz
tqdm==4.28.1  # attempt at https://issues.apache.org/jira/browse/AIRFLOW-3921  Not needed at Py3

# viz
altair
cufflinks
matplotlib
pydot
pygraphviz
qgrid
seaborn
vega3
jupyterthemes

# airflow requirements
snakebite

# installed outside requirements as it's fussy about versions
# apache-airflow[celery,postgres,crypto,s3]==1.9.0
