
# python
dill
funcsigs  # until Py3
futures  # until Py3
lazy
qualname  # until py3
six
toolz

# pydata
bottleneck
cython
iso3166 # country mappings
numba
numexpr
numpy
pandas-gbq
pandas==0.22.0
python-dateutil
pytz
scipy
sklearn
statsmodels
xarray==0.10.1
xlwt

# data
dogpile.cache
lru-dict
lxml
pyodbc==3.1.1 # because of unicode issues
pysftp
pyslack-real
quandl
redis
requests
slackclient
SQLAlchemy

# infrastructure
# apache_beam[gcp] # currently installs old version of google-bigquery
boto
celery
cookiecutter
docker-compose
flower
google-api-python-client==1.6.5
google-apitools==0.5.21
google-cloud==0.32.0
google-cloud-bigquery==0.30.0
kubernetes
psutil
setuptools
setuptools_scm
wheel

# minerva / opt (remove after move to mosek is complete)
cvxopt==1.1.8   # https://github.com/cvxopt/cvxopt/issues/79


# dev tools
# pytest-sugar https://github.com/Frozenball/pytest-sugar/pull/49
asv
autopep8
# datalab https://github.com/googledatalab/datalab/issues/1641
docformatter
flake8
flake8-isort
git-up
git+https://github.com/joerick/pyinstrument.git#egg=pyinstrument
ipdb
ipython
isort
jedi
jupyter
jupyter_kernel_gateway
line_profiler
memory_profiler
mock # until Py3
pdbpp
profilehooks
pycallgraph
pydocstyle
pytest
pytest-pycharm
pytest-testmon
pytest-watch
pytest-xdist
mockredispy
snakeviz

# viz
altair
cufflinks
matplotlib
plotly
seaborn
qgrid

# installed outside requirements as it's fussy about versions
# apache-airflow[celery,postgres,crypto,s3]==1.9.0
