
# python
click
dill
lazy
six
toolz

# pydata
bottleneck
bs4
cartopy
cython
fuzzywuzzy[speedup]
gcsfs
iso3166 # country mappings
keras
networkx
numba
numexpr
numpy
pandas-datareader
pandas-gbq
pandas==0.24.2
python-dateutil
pytz
scikit-learn
scipy
statsmodels
tensorflow
xarray==0.11.3
xlrd
xlwt

# data
crcmod
dogpile.cache
lru-dict
lxml
pyarrow
pyodbc
pysftp
pyslack-real
quandl
redis
requests
slackclient
SQLAlchemy

# infrastructure
apache-airflow[celery,postgres,crypto]==1.10.3
boto
celery
cookiecutter
docker-compose
flower
google-api-python-client
google-cloud-bigquery
google-cloud-storage
kubernetes
psutil
setuptools
setuptools_scm
wheel

# dev tools
# datalab https://github.com/googledatalab/datalab/issues/1641
asv
autopep8
black
docformatter
flake8
flake8-isort
git-up
ipdb
ipython
isort
jedi
jupyter
jupyter_kernel_gateway
line_profiler
memory_profiler
mockredispy
notebook
pdbpp
profilehooks
pycallgraph
pycodestyle
pydocstyle
pyinstrument
pytest
pytest-pycharm
pytest-regtest
pytest-sugar
pytest-testmon
pytest-watch
pytest-xdist
python-language-server
snakeviz
tqdm==4.28.1  # attempt at https://issues.apache.org/jira/browse/AIRFLOW-3921  Not needed at Py3

# viz
altair
cufflinks
matplotlib
pydot
pygraphviz
qgrid
seaborn
vega3
jupyterthemes